@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Modak&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.card-box {
  margin: 0 10px 0 10px;
}

.top-five-card {
  width: 150px;
  height: 150px;
  transition: all 200ms !important;
}

.meta-overlay {
  color: black;
  font-family: "Montserrat Alternates";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.top-five-card:hover {
  cursor: pointer;
  transform: scale(1);
}

.top-five-card:hover .meta-overlay {
  visibility: hidden;
}
